*.metadata
*.pdf
*.cproject
*.project
*.xml
*/.settings/*
*/Debug/*
*.mxproject
*.ioc
*.ld
*.s
*.txt
*/Drivers/*
CTOOLS/*
*.launch

FreeRTOS/*/include/README
FreeRTOS/*/lib/README
FreeRTOS/*/test/README
FreeRTOS/*/.vscode/extensions.json
