*.metadata
*.pdf
*.cproject
*.project
*.xml
*/.settings/*
*/Debug/*
*.mxproject
*.ioc
*.ld
*.s
*.txt
*/Drivers/*
CTOOLS/*
*.launch

FreeRTOS/FreeRTOS_LED_Toggle/include/README
FreeRTOS/FreeRTOS_LED_Toggle/lib/README
FreeRTOS/FreeRTOS_LED_Toggle/test/README
FreeRTOS/FreeRTOS_LED_Toggle/.vscode/extensions.json
